<%- include header %>
<div class="container-fluid">
    <div class="padding">
        <form method="post" class="form-group">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    标题:&nbsp;&nbsp;
                    <input type="text" class="form-controller pading-input" name="title" style="color: #000; border: none; outline: none; padding-left: 15px; border-radius: 20px;">
                    <br />
                    <span>标签：</span>
                    <div style="margin-top:10px;display:inline-block">
                    <input type="text" name="tag1" style="color: #000; border: none; outline: none; padding-left: 15px; border-radius: 20px;"/>
                    <input type="text" name="tag2" style="color: #000; border: none; outline: none; padding-left: 15px; border-radius: 20px;"/>
                    <input type="text" name="tag3" style="color: #000; border: none; outline: none; padding-left: 15px; border-radius: 20px;"/>
                    </div>
                    <br />
                </div>
                <div style="position:relative">
                    <span style="position: absolute; left: 16px; top: 17px;">内容:&nbsp;&nbsp;</span>
                    <textarea name="post" style="width: 100%; min-height: 200px; border: 1px solid #ddd; padding-left: 60px; padding-top: 16px; border: none;outline: none;"></textarea><br/>
                </div>
            </div>
            <input type="submit" class="btn btn-success" value="发表" class="am-btn am-btn-primary">
        </form>
    </div>
</div>