<%- include header %>
    <div class="container-fluid">

            <form method="post" class="form-group">
                <label for="text">用户名：</label>
                <input class="form-control" type="text" name="name">
                <br>
                <label for="text">邮箱：</label>    
                <input class="form-control" type="email" name="email">
                <br>
                <label for="password">密码:</label>
                <input class="form-control" type="password" name="password">
                <br>
                <label for="password">确认密码：</label>
                <input class="form-control" type="password" name="password-repeat">
                <br>
                <br />
                <div class="am-cf">
                <input type="submit" value="注册" class="btn btn-primary">
                </div>
            </form> 

    </div>
<%- include footer %>